%h1 Add a new location for #{@org.name}

= form_tag "create_location", :name => "edit_form", :id => "edit_form" do

  = render "forms/new/location_name"
  = render "forms/new/description"
  = render "forms/new/short_desc"

  = render "forms/new/address"
  = render "forms/new/mail_address"
  = render "forms/new/phones"
  = render "forms/new/fax"
  = render "forms/new/contacts"
  = render "forms/new/email"
  = render "forms/new/text_hours"
  = render "forms/new/accessibility"
  = render "forms/new/transportation"
  = render "forms/new/urls"
  = render "forms/new/kind"

  = render "forms/new/audience"
  = render "forms/new/eligibility"
  = render "forms/new/fees"
  = render "forms/new/how_to_apply"
  = render "forms/new/wait"
  = render "forms/new/service_areas"
  = render "forms/new/keywords"

  %div#categories.inst-box
    %header
      %strong
        Categories
      %p.desc
        What categories does this location's services fall under?
    %ul
      = render "forms/new/categories"

  = hidden_field_tag :org_id, @org._id
  = hidden_field_tag :org_name, @org.name
  = hidden_field_tag :page, params[:page]
  = submit_tag "Create new location for #{@org.name}", :class => "btn btn-primary"
