- loc_name = @location.name
- org_name = @location.organization.name
- services = @location.services if @location[:services].present?

- loc_name == org_name ? title("#{loc_name}") : title("#{org_name} - #{loc_name}")

= form_tag "edit_location", :name => "edit_form", :id => "edit_form" do
  %div.content-box
    %h2= loc_name == org_name ? loc_name : "#{org_name} / #{loc_name}"

  - if current_user.role == "admin" || (@location[:admin_emails].present? && @location[:admin_emails].include?(current_user.email))
    %div.content-box
      %h4
        Add an admin to this location
      %p
        Which email addresses should be allowed to update and delete this location?
      = render "forms/admins"

  = render "forms/org_name"
  = render "forms/location_name"
  = render "forms/description"
  = render "forms/short_desc"

  = render "forms/address"
  = render "forms/mail_address"

  = render "forms/phones"
  = render "forms/fax"
  = render "forms/contacts"
  = render "forms/email"

  = render "forms/text_hours"

  = render "forms/accessibility"
  = render "forms/transportation"

  = render "forms/urls"

  %div.content-box
    %h2= 'Services'

    - if services.present?
      - services.each do |service|
        = hidden_field_tag :service_id, service.id
        = render "forms/services/name", :service => service
        = render "forms/services/description", :service => service
        = render "forms/audience", :service => service
        = render "forms/eligibility", :service => service
        = render "forms/fees", :service => service
        = render "forms/how_to_apply", :service => service
        = render "forms/wait", :service => service
        = render "forms/service_areas", :service => service
        = render "forms/keywords", :service => service

        - @oe_ids = service.categories.map(&:oe_id) if service[:categories].present?
        %div#categories.inst-box
          %header
            %strong
              Categories
            %p.desc
              What categories does this location's services fall under?
          %ul
            = render "forms/categories", :service => service, :oe_ids => @oe_ids
  %div.danger-zone
    %header
      %strong
        Danger Zone
    %h4
      Delete this location
    %p
      Once you delete a location, there is no going back. Please be certain.
    %p
      = link_to 'Permanently delete this location', confirm_delete_location_path(loc_name: loc_name, org_name: org_name, location_id: @location.id), remote: true, data: { toggle: "modal", target: "#modal-window" }, :class => "boxed-action"
  %div#modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}


  %div.save-box.navbar-inner
    %p
      = "Editing"
      %strong
        = "#{org_name} / #{loc_name}"
    = hidden_field_tag :location_id, @location.id
    = hidden_field_tag :location_slug, @location.slug
    = hidden_field_tag :org_id, @location.organization.id
    = hidden_field_tag :page, params[:page]
    = submit_tag "Save changes & apply edits to database", :class => "btn btn-primary"

