%section#instructions
  %h1 Instructions
  %p
    %div.inst-step
      %strong 1
    If there are any keywords, short phrases,
    or abbreviations (like CPS!) that aren't already captured in the current
    keywords list or the categories checkboxes, please add them in one of the boxes
    under the
    %strong Keywords
    section.
    %em Please don't feel obligated to fill the keywords out if they aren't applicable to an entry.
    It's fine to leave them blank.
  %p
    %div.inst-step
      %strong 2
    There are also checkboxes for each
    %strong
      category
    based on the Open Eligibility terms
    we showed you on Tuesday. Please check at least one that accurately describes the services provided by the organization.
    %em
      Please provide the nearest match.
    Better terms can be captured in the keywords.

  %p
    %div.inst-step
      %strong 3
    Select whether the entry is a Human Service or not.

  %p
    %div.inst-step
      %strong 4
    When finished, click on
    %strong "Save changes"

  %p
    Thank you!

- loc_name = @location.name
- org_name = @location.organization.name
- services = @location.services
= form_tag "edit_services", :name => "edit_form" do
  %div.content-box
    %h1 existing data
    %h2= loc_name == org_name ? loc_name : "#{org_name} / #{loc_name}"
    %p
      %strong= "Description:"
      = @location.description

    - services.each do |service|
      %p#existing-keywords
        %strong= "Existing Keywords:"
        %ul
          - if service.key?(:keywords)
            - service.keywords.each do |keyword|
              %li
                = keyword

  - services.each do |service|
    %div.inst-box
      %header
        %strong
          1. Keywords:
        Add one or more new keywords

      .form-group
        = text_field_tag "keyword1", nil, :placeholder => 'keyword'
        = text_field_tag "keyword2", nil, :placeholder => 'keyword'
        = text_field_tag "keyword3", nil, :placeholder => 'keyword'
        = text_field_tag "keyword4", nil, :placeholder => 'keyword'

    %div#categories.inst-box
      %header
        %strong
          2. Categories:
        Select at least one applicable category

      %ul
        = render "categories"

    %div#kinds.inst-box
      %header
        %strong
          3. Kind:
        Is this entry a Human Service?

      %p
        - if @location.key?(:kind)
          = select_tag(:kind, options_for_select([['YES', 'human_services'], ['NO', 'other']], @location.kind))
        - else
          = select_tag(:kind, options_for_select([['--CHOOSE--', ''], ['YES', 'human_services'], ['NO', 'other']]))

    %div.inst-box
      %header
        %strong
          4. Apply edits to the database
      = hidden_field_tag :service_id, service.id
      = hidden_field_tag :location_id, @location.id
      = hidden_field_tag :page, params[:page]
      = submit_tag "Save changes", :class => "btn btn-primary"
