- loc_name = @location.name
- org_name = @location.organization.name
- services = @location.services
= form_tag "edit_services", :name => "edit_form" do
  %ul
  %h2= loc_name == org_name ? loc_name : "#{org_name} / #{loc_name}"
  %p
  %strong= "Description:"
  = @location.description
  - services.each do |service|
    %p
    %strong= "Keywords:"
    %p
    = service.keywords
    %p
    .form-group
    = label_tag :name, "Add one or more new keywords:"
    = text_field_tag "keyword1", nil, :placeholder => 'keyword'
    = text_field_tag "keyword2", nil, :placeholder => 'keyword'
    = text_field_tag "keyword3", nil, :placeholder => 'keyword'
    = text_field_tag "keyword4", nil, :placeholder => 'keyword'

    %section#categories

      %ul
        = @cat_html

    = hidden_field_tag :id, service.id
    = submit_tag "Update location", :class => "btn btn-primary"