%div.inst-box
  %header
    %strong
      Street Address
    %p.desc
      The physical location.
  - if @location.key?(:address)
    %fieldset#address
      = "Street"
      = text_field_tag "street", @location.address.street, maxlength: 255, class: "span5"
      %br
      = "City"
      = text_field_tag "city", @location.address.city, maxlength: 255
      %br
      = "State (2-letter abbreviation)"
      = text_field_tag "state", @location.address.state, maxlength: 2, class: "span1"
      %br
      = "ZIP Code"
      = text_field_tag "zip", @location.address.zip, maxlength: 10, class: "span2"
      = hidden_field_tag :destroy_address, "", id: "destroy"
      %br
      = link_to "Delete this address permanently", '#', class: "btn btn-danger delete_association"
      = link_to "undo", '#', class: "undo", :style => "display: none;"

  - else
    - fields = render "forms/add_address"
    %p
      = link_to_function "Add a street address", ("add_fields(4, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"