%fieldset#address
  = "Street"
  = text_field_tag "street", "", maxlength: 255, class: "span5"
  %br
  = "City"
  = text_field_tag "city", "", maxlength: 255
  %br
  = "State (2-letter abbreviation)"
  = text_field_tag "state", "", maxlength: 2, class: "span1"
  %br
  = "ZIP Code"
  = text_field_tag "zip", "", maxlength: 10, class: "span2"
  = hidden_field_tag :new_address, "1"