%div.inst-box
  %header
    %strong
      Fax Numbers
    %p.desc
      %em
        10 digits only please, in this format: 650-802-7922.
        %br
        If the fax belongs to a contact, please move it to the existing contact, or create a new contact.
        %br
        If the fax number contains a department in parentheses, move the department to the department field.
  - if @location[:faxes].present?
    - @location.faxes.each do |fax|
      %fieldset#faxes
        = "Number*"
        = text_field_tag "fax_number[]", fax[:number] || '', maxlength: 12, class: "span2"
        %br
        = "Department:"
        = text_field_tag "fax_department[]", fax[:department] || '', maxlength: 50, class: "span2"
        = hidden_field_tag "fax_ids[]", fax.id, id: "fax_id_#{fax.id}"
        = hidden_field_tag "destroy_faxes[]", "", id: "destroy"
        %br
        = link_to "Delete this fax number permanently", '#', class: "btn btn-danger delete_association"
  - fields = render "forms/single_fax"
  %p
    = link_to_function "Add a fax number", ("add_fields(2, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"