%div.inst-box
  %header
    %strong
      Keywords
    %p.desc
      What search terms does this location's services fall under?
  - if service[:keywords].present?
    - service.keywords.each_with_index do |keyword, i|
      %fieldset#keywords
        = text_field_tag "keywords[]", keyword, class: "span4", id: "keyword_#{i}"
        %br
        = link_to "Delete this keyword permanently", '#', class: "btn btn-danger delete_attribute"
  - fields = render "forms/add_keyword"
  %p
    = link_to_function "Add a keyword", ("add_fields(1, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"

