%div.inst-box
  %header
    %strong
      Mailing Address
  - if @location[:mail_address].present?
    %fieldset#mail_address
      = "Attention"
      = text_field_tag "attention", @location.mail_address.attention, maxlength: 255, class: "span5"
      %br
      = "Street"
      = text_field_tag "m_street", @location.mail_address.street, maxlength: 255, class: "span5"
      %br
      = "City"
      = text_field_tag "m_city", @location.mail_address.city, maxlength: 255
      %br
      = "State (2-letter abbreviation)"
      = text_field_tag "m_state", @location.mail_address.state, maxlength: 2, class: "span1"
      %br
      = "ZIP Code"
      = text_field_tag "m_zip", @location.mail_address.zip, maxlength: 10, class: "span2"
      = hidden_field_tag :destroy_mail_address, "", id: "destroy"
      = hidden_field_tag :mail_address_id, @location.mail_address.id
      %br
      = link_to "Delete this mailing address permanently", '#', class: "btn btn-danger delete_association"
      = link_to "undo", '#', class: "undo", :style => "display: none;"

  - else
    - fields = render "forms/add_mail_address"
    %p
      = link_to_function "Add a mailing address", ("add_fields(5, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"