%fieldset#faxes
  = "Number*"
  = text_field_tag "fax_number[]", fax, maxlength: 12, class: "span3"
  %br
  = "Department:"
  = text_field_tag "fax_department[]", "", maxlength: 50, class: "span3"
  %br
  = link_to "Delete this fax number permanently", '#', class: "btn btn-danger remove_fax"