%div.inst-box
  %header
    %strong
      Websites
    %p.desc
      What websites are associated with the location?
      %em
        Must include "http://" or "https://"
  - if @location.key?(:urls)
    - @location.urls.each_with_index do |url, i|
      %fieldset#urls
        = url_field_tag "urls[]", url, class: "span9", id: "url_#{i}"
        %br
        = link_to "Delete this website permanently", '#', class: "btn btn-danger delete_attribute"
  - fields = render "forms/add_url"
  %p
    = link_to_function "Add a website", ("add_fields(1, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"