%div.inst-box
  %header
    %strong
      Street Address
  %p
    = "Street"
    = text_field_tag "street", "", maxlength: 255, class: "span4"
    %br
    = "City"
    = text_field_tag "city", "", maxlength: 255
    %br
    = "State (2-letter abbreviation)"
    = text_field_tag "state", "CA", maxlength: 2
    %br
    = "ZIP Code"
    = text_field_tag "zip", "", maxlength: 10, class: "span2"
    %br