%li.depth0
  = check_box_tag "category_emergency", 'emergency', false, :name => "category_slugs[]"
  %label
    = 'Emergency'
  %ul
    %li.hide.depth1
      = check_box_tag "category_disaster-response", 'disaster-response', false, :name => "category_slugs[]"
      %label
        = 'Disaster Response'
    %li.hide.depth1
      = check_box_tag "category_emergency-cash", 'emergency-cash', false, :name => "category_slugs[]"
      %label
        = 'Emergency Cash'
      %ul
        %li.hide.depth2
          = check_box_tag "category_cash-for-food", 'cash-for-food', false, :name => "category_slugs[]"
          %label
            = 'Cash for Food'
        %li.hide.depth2
          = check_box_tag "category_cash-for-healthcare", 'cash-for-healthcare', false, :name => "category_slugs[]"
          %label
            = 'Cash for Healthcare'
        %li.hide.depth2
          = check_box_tag "category_cash-for-housing", 'cash-for-housing', false, :name => "category_slugs[]"
          %label
            = 'Cash for Housing'
        %li.hide.depth2
          = check_box_tag "category_cash-for-gas", 'cash-for-gas', false, :name => "category_slugs[]"
          %label
            = 'Cash for Gas'
        %li.hide.depth2
          = check_box_tag "category_cash-for-school", 'cash-for-school', false, :name => "category_slugs[]"
          %label
            = 'Cash for School'
        %li.hide.depth2
          = check_box_tag "category_cash-for-utilities", 'cash-for-utilities', false, :name => "category_slugs[]"
          %label
            = 'Cash for Utilities'
    %li.hide.depth1
      = check_box_tag "category_emergency-food", 'emergency-food', false, :name => "category_slugs[]"
      %label
        = 'Emergency Food'
    %li.hide.depth1
      = check_box_tag "category_emergency-shelter", 'emergency-shelter', false, :name => "category_slugs[]"
      %label
        = 'Emergency Shelter'
    %li.hide.depth1
      = check_box_tag "category_help-find-missing-persons", 'help-find-missing-persons', false, :name => "category_slugs[]"
      %label
        = 'Help Find Missing Persons'
    %li.hide.depth1
      = check_box_tag "category_immediate-safety", 'immediate-safety', false, :name => "category_slugs[]"
      %label
        = 'Immediate Safety'
      %ul
        %li.hide.depth2
          = check_box_tag "category_help-escape-violence", 'help-escape-violence', false, :name => "category_slugs[]"
          %label
            = 'Help Escape Violence'
        %li.hide.depth2
          = check_box_tag "category_safe-housing", 'safe-housing', false, :name => "category_slugs[]"
          %label
            = 'Safe Housing'
    %li.hide.depth1
      = check_box_tag "category_psychiatric-emergency-services", 'psychiatric-emergency-services', false, :name => "category_slugs[]"
      %label
        = 'Psychiatric Emergency Services'
%li.depth0
  = check_box_tag "category_food", 'food', false, :name => "category_slugs[]"
  %label
    = 'Food'
  %ul
    %li.hide.depth1
      = check_box_tag "category_community-gardens", 'community-gardens', false, :name => "category_slugs[]"
      %label
        = 'Community Gardens'
    %li.hide.depth1
      = check_box_tag "category_emergency-food-102-02", 'emergency-food-102-02', false, :name => "category_slugs[]"
      %label
        = 'Emergency Food'
    %li.hide.depth1
      = check_box_tag "category_food-delivery", 'food-delivery', false, :name => "category_slugs[]"
      %label
        = 'Food Delivery'
    %li.hide.depth1
      = check_box_tag "category_food-pantry", 'food-pantry', false, :name => "category_slugs[]"
      %label
        = 'Food Pantry'
    %li.hide.depth1
      = check_box_tag "category_free-meals", 'free-meals', false, :name => "category_slugs[]"
      %label
        = 'Free Meals'
    %li.hide.depth1
      = check_box_tag "category_help-pay-for-food", 'help-pay-for-food', false, :name => "category_slugs[]"
      %label
        = 'Help Pay for Food'
      %ul
        %li.hide.depth2
          = check_box_tag "category_cash-for-food-102-06-01", 'cash-for-food-102-06-01', false, :name => "category_slugs[]"
          %label
            = 'Cash for Food'
        %li.hide.depth2
          = check_box_tag "category_food-benefits", 'food-benefits', false, :name => "category_slugs[]"
          %label
            = 'Food Benefits'
    %li.hide.depth1
      = check_box_tag "category_nutrition", 'nutrition', false, :name => "category_slugs[]"
      %label
        = 'Nutrition'
%li.depth0
  = check_box_tag "category_housing", 'housing', false, :name => "category_slugs[]"
  %label
    = 'Housing'
  %ul
    %li.hide.depth1
      = check_box_tag "category_emergency-shelter-103-01", 'emergency-shelter-103-01', false, :name => "category_slugs[]"
      %label
        = 'Emergency Shelter'
    %li.hide.depth1
      = check_box_tag "category_help-find-housing", 'help-find-housing', false, :name => "category_slugs[]"
      %label
        = 'Help Find Housing'
    %li.hide.depth1
      = check_box_tag "category_help-pay-for-housing", 'help-pay-for-housing', false, :name => "category_slugs[]"
      %label
        = 'Help Pay for Housing'
      %ul
        %li.hide.depth2
          = check_box_tag "category_cash-for-housing-103-03-01", 'cash-for-housing-103-03-01', false, :name => "category_slugs[]"
          %label
            = 'Cash for Housing'
        %li.hide.depth2
          = check_box_tag "category_cash-for-utilities-103-03-02", 'cash-for-utilities-103-03-02', false, :name => "category_slugs[]"
          %label
            = 'Cash for Utilities'
        %li.hide.depth2
          = check_box_tag "category_home-renters-insurance", 'home-renters-insurance', false, :name => "category_slugs[]"
          %label
            = 'Home & Renters Insurance'
        %li.hide.depth2
          = check_box_tag "category_housing-vouchers", 'housing-vouchers', false, :name => "category_slugs[]"
          %label
            = 'Housing Vouchers'
        %li.hide.depth2
          = check_box_tag "category_maintenance-repairs", 'maintenance-repairs', false, :name => "category_slugs[]"
          %label
            = 'Maintenance & Repairs'
    %li.hide.depth1
      = check_box_tag "category_housing-advice", 'housing-advice', false, :name => "category_slugs[]"
      %label
        = 'Housing Advice'
      %ul
        %li.hide.depth2
          = check_box_tag "category_foreclosure-counseling", 'foreclosure-counseling', false, :name => "category_slugs[]"
          %label
            = 'Foreclosure Counseling'
        %li.hide.depth2
          = check_box_tag "category_homebuyer-education", 'homebuyer-education', false, :name => "category_slugs[]"
          %label
            = 'Homebuyer Education'
    %li.hide.depth1
      = check_box_tag "category_residential-housing", 'residential-housing', false, :name => "category_slugs[]"
      %label
        = 'Residential Housing'
      %ul
        %li.hide.depth2
          = check_box_tag "category_housing-with-support", 'housing-with-support', false, :name => "category_slugs[]"
          %label
            = 'Housing with Support'
        %li.hide.depth2
          = check_box_tag "category_long-term-housing", 'long-term-housing', false, :name => "category_slugs[]"
          %label
            = 'Long-Term Housing'
          %ul
            %li.hide.depth3
              = check_box_tag "category_assisted-living", 'assisted-living', false, :name => "category_slugs[]"
              %label
                = 'Assisted Living'
            %li.hide.depth3
              = check_box_tag "category_independent-living", 'independent-living', false, :name => "category_slugs[]"
              %label
                = 'Independent Living'
            %li.hide.depth3
              = check_box_tag "category_nursing-home", 'nursing-home', false, :name => "category_slugs[]"
              %label
                = 'Nursing Home'
            %li.hide.depth3
              = check_box_tag "category_public-housing", 'public-housing', false, :name => "category_slugs[]"
              %label
                = 'Public Housing'
        %li.hide.depth2
          = check_box_tag "category_safe-housing-103-05-03", 'safe-housing-103-05-03', false, :name => "category_slugs[]"
          %label
            = 'Safe Housing'
        %li.hide.depth2
          = check_box_tag "category_short-term-housing", 'short-term-housing', false, :name => "category_slugs[]"
          %label
            = 'Short-Term Housing'
          %ul
            %li.hide.depth3
              = check_box_tag "category_nursing-home-103-05-04-01", 'nursing-home-103-05-04-01', false, :name => "category_slugs[]"
              %label
                = 'Nursing Home'
            %li.hide.depth3
              = check_box_tag "category_sober-living", 'sober-living', false, :name => "category_slugs[]"
              %label
                = 'Sober Living'
%li.depth0
  = check_box_tag "category_goods", 'goods', false, :name => "category_slugs[]"
  %label
    = 'Goods'
  %ul
    %li.hide.depth1
      = check_box_tag "category_baby-supplies", 'baby-supplies', false, :name => "category_slugs[]"
      %label
        = 'Baby Supplies'
      %ul
        %li.hide.depth2
          = check_box_tag "category_baby-clothes", 'baby-clothes', false, :name => "category_slugs[]"
          %label
            = 'Baby Clothes'
        %li.hide.depth2
          = check_box_tag "category_diapers-formula", 'diapers-formula', false, :name => "category_slugs[]"
          %label
            = 'Diapers & Formula'
    %li.hide.depth1
      = check_box_tag "category_clothing", 'clothing', false, :name => "category_slugs[]"
      %label
        = 'Clothing'
      %ul
        %li.hide.depth2
          = check_box_tag "category_baby-clothes-104-02-01", 'baby-clothes-104-02-01', false, :name => "category_slugs[]"
          %label
            = 'Baby Clothes'
        %li.hide.depth2
          = check_box_tag "category_clothes-for-school", 'clothes-for-school', false, :name => "category_slugs[]"
          %label
            = 'Clothes for School'
        %li.hide.depth2
          = check_box_tag "category_clothes-for-work", 'clothes-for-work', false, :name => "category_slugs[]"
          %label
            = 'Clothes for Work'
        %li.hide.depth2
          = check_box_tag "category_clothing-vouchers", 'clothing-vouchers', false, :name => "category_slugs[]"
          %label
            = 'Clothing Vouchers'
    %li.hide.depth1
      = check_box_tag "category_home-goods", 'home-goods', false, :name => "category_slugs[]"
      %label
        = 'Home Goods'
      %ul
        %li.hide.depth2
          = check_box_tag "category_blankets-fans", 'blankets-fans', false, :name => "category_slugs[]"
          %label
            = 'Blankets & Fans'
        %li.hide.depth2
          = check_box_tag "category_books", 'books', false, :name => "category_slugs[]"
          %label
            = 'Books'
        %li.hide.depth2
          = check_box_tag "category_furniture", 'furniture', false, :name => "category_slugs[]"
          %label
            = 'Furniture'
        %li.hide.depth2
          = check_box_tag "category_personal-care-items", 'personal-care-items', false, :name => "category_slugs[]"
          %label
            = 'Personal Care Items'
        %li.hide.depth2
          = check_box_tag "category_supplies-for-work", 'supplies-for-work', false, :name => "category_slugs[]"
          %label
            = 'Supplies for Work'
    %li.hide.depth1
      = check_box_tag "category_medical-supplies", 'medical-supplies', false, :name => "category_slugs[]"
      %label
        = 'Medical Supplies'
    %li.hide.depth1
      = check_box_tag "category_technology", 'technology', false, :name => "category_slugs[]"
      %label
        = 'Technology'
      %ul
        %li.hide.depth2
          = check_box_tag "category_assistive-technology", 'assistive-technology', false, :name => "category_slugs[]"
          %label
            = 'Assistive Technology'
        %li.hide.depth2
          = check_box_tag "category_internet", 'internet', false, :name => "category_slugs[]"
          %label
            = 'Internet'
        %li.hide.depth2
          = check_box_tag "category_phone-services", 'phone-services', false, :name => "category_slugs[]"
          %label
            = 'Phone Services'
    %li.hide.depth1
      = check_box_tag "category_toys-gifts", 'toys-gifts', false, :name => "category_slugs[]"
      %label
        = 'Toys & Gifts'
%li.depth0
  = check_box_tag "category_transit", 'transit', false, :name => "category_slugs[]"
  %label
    = 'Transit'
  %ul
    %li.hide.depth1
      = check_box_tag "category_help-pay-for-transit", 'help-pay-for-transit', false, :name => "category_slugs[]"
      %label
        = 'Help Pay for Transit'
      %ul
        %li.hide.depth2
          = check_box_tag "category_bus-passes", 'bus-passes', false, :name => "category_slugs[]"
          %label
            = 'Bus Passes'
        %li.hide.depth2
          = check_box_tag "category_cash-for-gas-105-01-02", 'cash-for-gas-105-01-02', false, :name => "category_slugs[]"
          %label
            = 'Cash for Gas'
    %li.hide.depth1
      = check_box_tag "category_transportation", 'transportation', false, :name => "category_slugs[]"
      %label
        = 'Transportation'
      %ul
        %li.hide.depth2
          = check_box_tag "category_transportation-for-healthcare", 'transportation-for-healthcare', false, :name => "category_slugs[]"
          %label
            = 'Transportation for Healthcare'
        %li.hide.depth2
          = check_box_tag "category_transportation-for-school", 'transportation-for-school', false, :name => "category_slugs[]"
          %label
            = 'Transportation for School'
%li.depth0
  = check_box_tag "category_health", 'health', false, :name => "category_slugs[]"
  %label
    = 'Health'
  %ul
    %li.hide.depth1
      = check_box_tag "category_addiction-recovery", 'addiction-recovery', false, :name => "category_slugs[]"
      %label
        = 'Addiction & Recovery'
      %ul
        %li.hide.depth2
          = check_box_tag "category_12-step", '12-step', false, :name => "category_slugs[]"
          %label
            = '12-Step'
        %li.hide.depth2
          = check_box_tag "category_detox", 'detox', false, :name => "category_slugs[]"
          %label
            = 'Detox'
        %li.hide.depth2
          = check_box_tag "category_halfway-housing", 'halfway-housing', false, :name => "category_slugs[]"
          %label
            = 'Halfway Housing'
        %li.hide.depth2
          = check_box_tag "category_outpatient-treatment", 'outpatient-treatment', false, :name => "category_slugs[]"
          %label
            = 'Outpatient Treatment'
        %li.hide.depth2
          = check_box_tag "category_residential-treatment", 'residential-treatment', false, :name => "category_slugs[]"
          %label
            = 'Residential Treatment'
        %li.hide.depth2
          = check_box_tag "category_sober-living-106-01-06", 'sober-living-106-01-06', false, :name => "category_slugs[]"
          %label
            = 'Sober Living'
    %li.hide.depth1
      = check_box_tag "category_dental-care", 'dental-care', false, :name => "category_slugs[]"
      %label
        = 'Dental Care'
    %li.hide.depth1
      = check_box_tag "category_end-of-life-care", 'end-of-life-care', false, :name => "category_slugs[]"
      %label
        = 'End-of-Life Care'
      %ul
        %li.hide.depth2
          = check_box_tag "category_bereavement", 'bereavement', false, :name => "category_slugs[]"
          %label
            = 'Bereavement'
        %li.hide.depth2
          = check_box_tag "category_burial-funeral-help", 'burial-funeral-help', false, :name => "category_slugs[]"
          %label
            = 'Burial & Funeral Help'
        %li.hide.depth2
          = check_box_tag "category_hospice", 'hospice', false, :name => "category_slugs[]"
          %label
            = 'Hospice'
        %li.hide.depth2
          = check_box_tag "category_pain-management", 'pain-management', false, :name => "category_slugs[]"
          %label
            = 'Pain Management'
    %li.hide.depth1
      = check_box_tag "category_health-education", 'health-education', false, :name => "category_slugs[]"
      %label
        = 'Health Education'
      %ul
        %li.hide.depth2
          = check_box_tag "category_daily-life-skills", 'daily-life-skills', false, :name => "category_slugs[]"
          %label
            = 'Daily Life Skills'
        %li.hide.depth2
          = check_box_tag "category_disease-management", 'disease-management', false, :name => "category_slugs[]"
          %label
            = 'Disease Management'
        %li.hide.depth2
          = check_box_tag "category_family-planning", 'family-planning', false, :name => "category_slugs[]"
          %label
            = 'Family Planning'
        %li.hide.depth2
          = check_box_tag "category_nutrition-106-04-04", 'nutrition-106-04-04', false, :name => "category_slugs[]"
          %label
            = 'Nutrition'
        %li.hide.depth2
          = check_box_tag "category_parenting-education", 'parenting-education', false, :name => "category_slugs[]"
          %label
            = 'Parenting Education'
        %li.hide.depth2
          = check_box_tag "category_sex-education", 'sex-education', false, :name => "category_slugs[]"
          %label
            = 'Sex Education'
        %li.hide.depth2
          = check_box_tag "category_understand-disability", 'understand-disability', false, :name => "category_slugs[]"
          %label
            = 'Understand Disability'
        %li.hide.depth2
          = check_box_tag "category_understand-mental-health", 'understand-mental-health', false, :name => "category_slugs[]"
          %label
            = 'Understand Mental Health'
    %li.hide.depth1
      = check_box_tag "category_help-pay-for-healthcare", 'help-pay-for-healthcare', false, :name => "category_slugs[]"
      %label
        = 'Help Pay for Healthcare'
      %ul
        %li.hide.depth2
          = check_box_tag "category_cash-for-healthcare-106-05-01", 'cash-for-healthcare-106-05-01', false, :name => "category_slugs[]"
          %label
            = 'Cash for Healthcare'
        %li.hide.depth2
          = check_box_tag "category_disability-benefits", 'disability-benefits', false, :name => "category_slugs[]"
          %label
            = 'Disability Benefits'
        %li.hide.depth2
          = check_box_tag "category_discounted-healthcare", 'discounted-healthcare', false, :name => "category_slugs[]"
          %label
            = 'Discounted Healthcare'
        %li.hide.depth2
          = check_box_tag "category_health-insurance", 'health-insurance', false, :name => "category_slugs[]"
          %label
            = 'Health Insurance'
        %li.hide.depth2
          = check_box_tag "category_medical-supplies-106-05-05", 'medical-supplies-106-05-05', false, :name => "category_slugs[]"
          %label
            = 'Medical Supplies'
        %li.hide.depth2
          = check_box_tag "category_prescription-assistance", 'prescription-assistance', false, :name => "category_slugs[]"
          %label
            = 'Prescription Assistance'
        %li.hide.depth2
          = check_box_tag "category_transportation-for-healthcare-106-05-07", 'transportation-for-healthcare-106-05-07', false, :name => "category_slugs[]"
          %label
            = 'Transportation for Healthcare'
    %li.hide.depth1
      = check_box_tag "category_medical-care", 'medical-care', false, :name => "category_slugs[]"
      %label
        = 'Medical Care'
      %ul
        %li.hide.depth2
          = check_box_tag "category_alternative-medicine", 'alternative-medicine', false, :name => "category_slugs[]"
          %label
            = 'Alternative Medicine'
        %li.hide.depth2
          = check_box_tag "category_assistive-technology-106-06-02", 'assistive-technology-106-06-02', false, :name => "category_slugs[]"
          %label
            = 'Assistive Technology'
        %li.hide.depth2
          = check_box_tag "category_birth-control", 'birth-control', false, :name => "category_slugs[]"
          %label
            = 'Birth Control'
        %li.hide.depth2
          = check_box_tag "category_checkup-test", 'checkup-test', false, :name => "category_slugs[]"
          %label
            = 'Checkup & Test'
          %ul
            %li.hide.depth3
              = check_box_tag "category_disability-screening", 'disability-screening', false, :name => "category_slugs[]"
              %label
                = 'Disability Screening'
            %li.hide.depth3
              = check_box_tag "category_disease-screening", 'disease-screening', false, :name => "category_slugs[]"
              %label
                = 'Disease Screening'
            %li.hide.depth3
              = check_box_tag "category_hearing-tests", 'hearing-tests', false, :name => "category_slugs[]"
              %label
                = 'Hearing Tests'
            %li.hide.depth3
              = check_box_tag "category_mental-health-evaluation", 'mental-health-evaluation', false, :name => "category_slugs[]"
              %label
                = 'Mental Health Evaluation'
            %li.hide.depth3
              = check_box_tag "category_pregnancy-tests", 'pregnancy-tests', false, :name => "category_slugs[]"
              %label
                = 'Pregnancy Tests'
            %li.hide.depth3
              = check_box_tag "category_vision-tests", 'vision-tests', false, :name => "category_slugs[]"
              %label
                = 'Vision Tests'
        %li.hide.depth2
          = check_box_tag "category_maternity-care", 'maternity-care', false, :name => "category_slugs[]"
          %label
            = 'Maternity Care'
        %li.hide.depth2
          = check_box_tag "category_personal-hygiene", 'personal-hygiene', false, :name => "category_slugs[]"
          %label
            = 'Personal Hygiene'
        %li.hide.depth2
          = check_box_tag "category_prevent-treat", 'prevent-treat', false, :name => "category_slugs[]"
          %label
            = 'Prevent & Treat'
          %ul
            %li.hide.depth3
              = check_box_tag "category_counseling", 'counseling', false, :name => "category_slugs[]"
              %label
                = 'Counseling'
            %li.hide.depth3
              = check_box_tag "category_hiv-treatment", 'hiv-treatment', false, :name => "category_slugs[]"
              %label
                = 'HIV Treatment'
            %li.hide.depth3
              = check_box_tag "category_pain-management-106-06-07-03", 'pain-management-106-06-07-03', false, :name => "category_slugs[]"
              %label
                = 'Pain Management'
            %li.hide.depth3
              = check_box_tag "category_disease-management-106-06-07-04", 'disease-management-106-06-07-04', false, :name => "category_slugs[]"
              %label
                = 'Disease Management'
            %li.hide.depth3
              = check_box_tag "category_nursing-home-106-06-07-05", 'nursing-home-106-06-07-05', false, :name => "category_slugs[]"
              %label
                = 'Nursing Home'
            %li.hide.depth3
              = check_box_tag "category_physical-therapy", 'physical-therapy', false, :name => "category_slugs[]"
              %label
                = 'Physical Therapy'
            %li.hide.depth3
              = check_box_tag "category_specialized-therapy", 'specialized-therapy', false, :name => "category_slugs[]"
              %label
                = 'Specialized Therapy'
            %li.hide.depth3
              = check_box_tag "category_vaccinations", 'vaccinations', false, :name => "category_slugs[]"
              %label
                = 'Vaccinations'
            %li.hide.depth3
              = check_box_tag "category_in-home-support", 'in-home-support', false, :name => "category_slugs[]"
              %label
                = 'In-Home Support'
            %li.hide.depth3
              = check_box_tag "category_residential-treatment-106-06-07-10", 'residential-treatment-106-06-07-10', false, :name => "category_slugs[]"
              %label
                = 'Residential Treatment'
            %li.hide.depth3
              = check_box_tag "category_outpatient-treatment-106-06-07-11", 'outpatient-treatment-106-06-07-11', false, :name => "category_slugs[]"
              %label
                = 'Outpatient Treatment'
        %li.hide.depth2
          = check_box_tag "category_psychiatric-emergency-services-106-06-08", 'psychiatric-emergency-services-106-06-08', false, :name => "category_slugs[]"
          %label
            = 'Psychiatric Emergency Services'
%li.depth0
  = check_box_tag "category_money", 'money', false, :name => "category_slugs[]"
  %label
    = 'Money'
  %ul
    %li.hide.depth1
      = check_box_tag "category_emergency-cash-107-01", 'emergency-cash-107-01', false, :name => "category_slugs[]"
      %label
        = 'Emergency Cash'
      %ul
        %li.hide.depth2
          = check_box_tag "category_cash-for-food-107-01-01", 'cash-for-food-107-01-01', false, :name => "category_slugs[]"
          %label
            = 'Cash for Food'
        %li.hide.depth2
          = check_box_tag "category_cash-for-healthcare-107-01-02", 'cash-for-healthcare-107-01-02', false, :name => "category_slugs[]"
          %label
            = 'Cash for Healthcare'
        %li.hide.depth2
          = check_box_tag "category_cash-for-housing-107-01-03", 'cash-for-housing-107-01-03', false, :name => "category_slugs[]"
          %label
            = 'Cash for Housing'
        %li.hide.depth2
          = check_box_tag "category_cash-for-childcare", 'cash-for-childcare', false, :name => "category_slugs[]"
          %label
            = 'Cash for Childcare'
        %li.hide.depth2
          = check_box_tag "category_cash-for-gas-107-01-05", 'cash-for-gas-107-01-05', false, :name => "category_slugs[]"
          %label
            = 'Cash for Gas'
        %li.hide.depth2
          = check_box_tag "category_cash-for-school-107-01-06", 'cash-for-school-107-01-06', false, :name => "category_slugs[]"
          %label
            = 'Cash for School'
        %li.hide.depth2
          = check_box_tag "category_cash-for-utilities-107-01-07", 'cash-for-utilities-107-01-07', false, :name => "category_slugs[]"
          %label
            = 'Cash for Utilities'
    %li.hide.depth1
      = check_box_tag "category_financial-assistance", 'financial-assistance', false, :name => "category_slugs[]"
      %label
        = 'Financial Assistance'
      %ul
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-childcare", 'help-pay-for-childcare', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for Childcare'
          %ul
            %li.hide.depth3
              = check_box_tag "category_cash-for-childcare-107-02-01-01", 'cash-for-childcare-107-02-01-01', false, :name => "category_slugs[]"
              %label
                = 'Cash for Childcare'
            %li.hide.depth3
              = check_box_tag "category_childcare-vouchers", 'childcare-vouchers', false, :name => "category_slugs[]"
              %label
                = 'Childcare Vouchers'
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-food-107-02-02", 'help-pay-for-food-107-02-02', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for Food'
          %ul
            %li.hide.depth3
              = check_box_tag "category_food-benefits-107-02-02-01", 'food-benefits-107-02-02-01', false, :name => "category_slugs[]"
              %label
                = 'Food Benefits'
            %li.hide.depth3
              = check_box_tag "category_cash-for-food-107-02-02-01", 'cash-for-food-107-02-02-01', false, :name => "category_slugs[]"
              %label
                = 'Cash for Food'
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-healthcare-107-02-03", 'help-pay-for-healthcare-107-02-03', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for Healthcare'
          %ul
            %li.hide.depth3
              = check_box_tag "category_cash-for-healthcare-107-02-03-01", 'cash-for-healthcare-107-02-03-01', false, :name => "category_slugs[]"
              %label
                = 'Cash for Healthcare'
            %li.hide.depth3
              = check_box_tag "category_disability-benefits-107-02-03-02", 'disability-benefits-107-02-03-02', false, :name => "category_slugs[]"
              %label
                = 'Disability Benefits'
            %li.hide.depth3
              = check_box_tag "category_discounted-healthcare-107-02-03-03", 'discounted-healthcare-107-02-03-03', false, :name => "category_slugs[]"
              %label
                = 'Discounted Healthcare'
            %li.hide.depth3
              = check_box_tag "category_health-insurance-107-02-03-04", 'health-insurance-107-02-03-04', false, :name => "category_slugs[]"
              %label
                = 'Health Insurance'
            %li.hide.depth3
              = check_box_tag "category_medical-supplies-107-02-03-05", 'medical-supplies-107-02-03-05', false, :name => "category_slugs[]"
              %label
                = 'Medical Supplies'
            %li.hide.depth3
              = check_box_tag "category_prescription-assistance-107-02-03-06", 'prescription-assistance-107-02-03-06', false, :name => "category_slugs[]"
              %label
                = 'Prescription Assistance'
            %li.hide.depth3
              = check_box_tag "category_transportation-for-healthcare-107-02-03-07", 'transportation-for-healthcare-107-02-03-07', false, :name => "category_slugs[]"
              %label
                = 'Transportation for Healthcare'
            %li.hide.depth3
              = check_box_tag "category_healthcare-vouchers", 'healthcare-vouchers', false, :name => "category_slugs[]"
              %label
                = 'Healthcare Vouchers'
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-housing-107-02-04", 'help-pay-for-housing-107-02-04', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for Housing'
          %ul
            %li.hide.depth3
              = check_box_tag "category_cash-for-housing-107-02-04-01", 'cash-for-housing-107-02-04-01', false, :name => "category_slugs[]"
              %label
                = 'Cash for Housing'
            %li.hide.depth3
              = check_box_tag "category_cash-for-utilities-107-02-04-02", 'cash-for-utilities-107-02-04-02', false, :name => "category_slugs[]"
              %label
                = 'Cash for Utilities'
            %li.hide.depth3
              = check_box_tag "category_home-renters-insurance-107-02-04-03", 'home-renters-insurance-107-02-04-03', false, :name => "category_slugs[]"
              %label
                = 'Home & Renters Insurance'
            %li.hide.depth3
              = check_box_tag "category_housing-vouchers-107-02-04-04", 'housing-vouchers-107-02-04-04', false, :name => "category_slugs[]"
              %label
                = 'Housing Vouchers'
            %li.hide.depth3
              = check_box_tag "category_maintenance-repairs-107-02-04-05", 'maintenance-repairs-107-02-04-05', false, :name => "category_slugs[]"
              %label
                = 'Maintenance & Repairs'
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-school", 'help-pay-for-school', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for School'
          %ul
            %li.hide.depth3
              = check_box_tag "category_books-107-02-05-01", 'books-107-02-05-01', false, :name => "category_slugs[]"
              %label
                = 'Books'
            %li.hide.depth3
              = check_box_tag "category_cash-for-school-107-02-05-02", 'cash-for-school-107-02-05-02', false, :name => "category_slugs[]"
              %label
                = 'Cash for School'
            %li.hide.depth3
              = check_box_tag "category_clothes-for-school-107-02-05-03", 'clothes-for-school-107-02-05-03', false, :name => "category_slugs[]"
              %label
                = 'Clothes for School'
            %li.hide.depth3
              = check_box_tag "category_financial-aid-loans", 'financial-aid-loans', false, :name => "category_slugs[]"
              %label
                = 'Financial Aid & Loans'
            %li.hide.depth3
              = check_box_tag "category_transportation-for-school-107-02-05-05", 'transportation-for-school-107-02-05-05', false, :name => "category_slugs[]"
              %label
                = 'Transportation for School'
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-transit-107-02-06", 'help-pay-for-transit-107-02-06', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for Transit'
          %ul
            %li.hide.depth3
              = check_box_tag "category_cash-for-gas-107-02-06-01", 'cash-for-gas-107-02-06-01', false, :name => "category_slugs[]"
              %label
                = 'Cash for Gas'
            %li.hide.depth3
              = check_box_tag "category_bus-passes-107-02-06-02", 'bus-passes-107-02-06-02', false, :name => "category_slugs[]"
              %label
                = 'Bus Passes'
        %li.hide.depth2
          = check_box_tag "category_help-pay-for-work-expenses", 'help-pay-for-work-expenses', false, :name => "category_slugs[]"
          %label
            = 'Help Pay for Work Expenses'
    %li.hide.depth1
      = check_box_tag "category_government-benefits", 'government-benefits', false, :name => "category_slugs[]"
      %label
        = 'Government Benefits'
      %ul
        %li.hide.depth2
          = check_box_tag "category_disability-benefits-107-03-01", 'disability-benefits-107-03-01', false, :name => "category_slugs[]"
          %label
            = 'Disability Benefits'
        %li.hide.depth2
          = check_box_tag "category_food-benefits-107-03-02", 'food-benefits-107-03-02', false, :name => "category_slugs[]"
          %label
            = 'Food Benefits'
        %li.hide.depth2
          = check_box_tag "category_retirement-benefits", 'retirement-benefits', false, :name => "category_slugs[]"
          %label
            = 'Retirement Benefits'
        %li.hide.depth2
          = check_box_tag "category_understand-government-programs", 'understand-government-programs', false, :name => "category_slugs[]"
          %label
            = 'Understand Government Programs'
        %li.hide.depth2
          = check_box_tag "category_unemployment-benefits", 'unemployment-benefits', false, :name => "category_slugs[]"
          %label
            = 'Unemployment Benefits'
    %li.hide.depth1
      = check_box_tag "category_vouchers", 'vouchers', false, :name => "category_slugs[]"
      %label
        = 'Vouchers'
      %ul
        %li.hide.depth2
          = check_box_tag "category_childcare-vouchers-107-04-01", 'childcare-vouchers-107-04-01', false, :name => "category_slugs[]"
          %label
            = 'Childcare Vouchers'
        %li.hide.depth2
          = check_box_tag "category_clothing-vouchers-107-04-02", 'clothing-vouchers-107-04-02', false, :name => "category_slugs[]"
          %label
            = 'Clothing Vouchers'
        %li.hide.depth2
          = check_box_tag "category_healthcare-vouchers-107-04-03", 'healthcare-vouchers-107-04-03', false, :name => "category_slugs[]"
          %label
            = 'Healthcare Vouchers'
        %li.hide.depth2
          = check_box_tag "category_housing-vouchers-107-04-04", 'housing-vouchers-107-04-04', false, :name => "category_slugs[]"
          %label
            = 'Housing Vouchers'
    %li.hide.depth1
      = check_box_tag "category_financial-education", 'financial-education', false, :name => "category_slugs[]"
      %label
        = 'Financial Education'
      %ul
        %li.hide.depth2
          = check_box_tag "category_credit-counseling", 'credit-counseling', false, :name => "category_slugs[]"
          %label
            = 'Credit Counseling'
        %li.hide.depth2
          = check_box_tag "category_foreclosure-counseling-107-05-02", 'foreclosure-counseling-107-05-02', false, :name => "category_slugs[]"
          %label
            = 'Foreclosure Counseling'
        %li.hide.depth2
          = check_box_tag "category_homebuyer-education-107-05-03", 'homebuyer-education-107-05-03', false, :name => "category_slugs[]"
          %label
            = 'Homebuyer Education'
        %li.hide.depth2
          = check_box_tag "category_savings-program", 'savings-program', false, :name => "category_slugs[]"
          %label
            = 'Savings Program'
    %li.hide.depth1
      = check_box_tag "category_insurance", 'insurance', false, :name => "category_slugs[]"
      %label
        = 'Insurance'
      %ul
        %li.hide.depth2
          = check_box_tag "category_health-insurance-107-06-01", 'health-insurance-107-06-01', false, :name => "category_slugs[]"
          %label
            = 'Health Insurance'
        %li.hide.depth2
          = check_box_tag "category_home-renters-insurance-107-06-02", 'home-renters-insurance-107-06-02', false, :name => "category_slugs[]"
          %label
            = 'Home & Renters Insurance'
    %li.hide.depth1
      = check_box_tag "category_tax-preparation", 'tax-preparation', false, :name => "category_slugs[]"
      %label
        = 'Tax Preparation'
%li.depth0
  = check_box_tag "category_care", 'care', false, :name => "category_slugs[]"
  %label
    = 'Care'
  %ul
    %li.hide.depth1
      = check_box_tag "category_adoption-foster-care", 'adoption-foster-care', false, :name => "category_slugs[]"
      %label
        = 'Adoption & Foster Care'
      %ul
        %li.hide.depth2
          = check_box_tag "category_adoption-foster-placement", 'adoption-foster-placement', false, :name => "category_slugs[]"
          %label
            = 'Adoption & Foster Placement'
        %li.hide.depth2
          = check_box_tag "category_adoption-foster-parenting", 'adoption-foster-parenting', false, :name => "category_slugs[]"
          %label
            = 'Adoption & Foster Parenting'
        %li.hide.depth2
          = check_box_tag "category_adoption-planning", 'adoption-planning', false, :name => "category_slugs[]"
          %label
            = 'Adoption Planning'
        %li.hide.depth2
          = check_box_tag "category_post-adoption-support", 'post-adoption-support', false, :name => "category_slugs[]"
          %label
            = 'Post-Adoption Support'
    %li.hide.depth1
      = check_box_tag "category_animal-welfare", 'animal-welfare', false, :name => "category_slugs[]"
      %label
        = 'Animal Welfare'
    %li.hide.depth1
      = check_box_tag "category_daytime-care", 'daytime-care', false, :name => "category_slugs[]"
      %label
        = 'Daytime Care'
      %ul
        %li.hide.depth2
          = check_box_tag "category_adult-daycare", 'adult-daycare', false, :name => "category_slugs[]"
          %label
            = 'Adult Daycare'
        %li.hide.depth2
          = check_box_tag "category_afterschool-care", 'afterschool-care', false, :name => "category_slugs[]"
          %label
            = 'Afterschool Care'
        %li.hide.depth2
          = check_box_tag "category_childcare", 'childcare', false, :name => "category_slugs[]"
          %label
            = 'Childcare'
          %ul
            %li.hide.depth3
              = check_box_tag "category_child-daycare", 'child-daycare', false, :name => "category_slugs[]"
              %label
                = 'Child Daycare'
            %li.hide.depth3
              = check_box_tag "category_help-find-childcare", 'help-find-childcare', false, :name => "category_slugs[]"
              %label
                = 'Help Find Childcare'
            %li.hide.depth3
              = check_box_tag "category_childcare-vouchers-108-03-03-03", 'childcare-vouchers-108-03-03-03', false, :name => "category_slugs[]"
              %label
                = 'Childcare Vouchers'
            %li.hide.depth3
              = check_box_tag "category_cash-for-childcare-108-03-03-04", 'cash-for-childcare-108-03-03-04', false, :name => "category_slugs[]"
              %label
                = 'Cash for Childcare'
        %li.hide.depth2
          = check_box_tag "category_day-camp", 'day-camp', false, :name => "category_slugs[]"
          %label
            = 'Day Camp'
        %li.hide.depth2
          = check_box_tag "category_preschool", 'preschool', false, :name => "category_slugs[]"
          %label
            = 'Preschool'
        %li.hide.depth2
          = check_box_tag "category_recreation", 'recreation', false, :name => "category_slugs[]"
          %label
            = 'Recreation'
        %li.hide.depth2
          = check_box_tag "category_relief-for-caregivers", 'relief-for-caregivers', false, :name => "category_slugs[]"
          %label
            = 'Relief for Caregivers'
    %li.hide.depth1
      = check_box_tag "category_end-of-life-care-108-04", 'end-of-life-care-108-04', false, :name => "category_slugs[]"
      %label
        = 'End-of-Life Care'
      %ul
        %li.hide.depth2
          = check_box_tag "category_bereavement-108-04-01", 'bereavement-108-04-01', false, :name => "category_slugs[]"
          %label
            = 'Bereavement'
        %li.hide.depth2
          = check_box_tag "category_burial-funeral-help-108-04-02", 'burial-funeral-help-108-04-02', false, :name => "category_slugs[]"
          %label
            = 'Burial & Funeral Help'
        %li.hide.depth2
          = check_box_tag "category_hospice-108-04-03", 'hospice-108-04-03', false, :name => "category_slugs[]"
          %label
            = 'Hospice'
        %li.hide.depth2
          = check_box_tag "category_pain-management-108-04-04", 'pain-management-108-04-04', false, :name => "category_slugs[]"
          %label
            = 'Pain Management'
    %li.hide.depth1
      = check_box_tag "category_navigating-the-system", 'navigating-the-system', false, :name => "category_slugs[]"
      %label
        = 'Navigating the System'
      %ul
        %li.hide.depth2
          = check_box_tag "category_help-find-work", 'help-find-work', false, :name => "category_slugs[]"
          %label
            = 'Help Find Work'
        %li.hide.depth2
          = check_box_tag "category_help-fill-out-forms", 'help-fill-out-forms', false, :name => "category_slugs[]"
          %label
            = 'Help Fill out Forms'
        %li.hide.depth2
          = check_box_tag "category_help-find-childcare-108-05-02", 'help-find-childcare-108-05-02', false, :name => "category_slugs[]"
          %label
            = 'Help Find Childcare'
        %li.hide.depth2
          = check_box_tag "category_help-find-housing-108-05-03", 'help-find-housing-108-05-03', false, :name => "category_slugs[]"
          %label
            = 'Help Find Housing'
        %li.hide.depth2
          = check_box_tag "category_help-find-school", 'help-find-school', false, :name => "category_slugs[]"
          %label
            = 'Help Find School'
    %li.hide.depth1
      = check_box_tag "category_residential-care", 'residential-care', false, :name => "category_slugs[]"
      %label
        = 'Residential Care'
      %ul
        %li.hide.depth2
          = check_box_tag "category_assisted-living-108-06-01", 'assisted-living-108-06-01', false, :name => "category_slugs[]"
          %label
            = 'Assisted Living'
        %li.hide.depth2
          = check_box_tag "category_residential-treatment-108-06-02", 'residential-treatment-108-06-02', false, :name => "category_slugs[]"
          %label
            = 'Residential Treatment'
        %li.hide.depth2
          = check_box_tag "category_nursing-home-108-06-03", 'nursing-home-108-06-03', false, :name => "category_slugs[]"
          %label
            = 'Nursing Home'
        %li.hide.depth2
          = check_box_tag "category_overnight-camp", 'overnight-camp', false, :name => "category_slugs[]"
          %label
            = 'Overnight Camp'
    %li.hide.depth1
      = check_box_tag "category_support-network", 'support-network', false, :name => "category_slugs[]"
      %label
        = 'Support Network'
      %ul
        %li.hide.depth2
          = check_box_tag "category_counseling-108-07-01", 'counseling-108-07-01', false, :name => "category_slugs[]"
          %label
            = 'Counseling'
        %li.hide.depth2
          = check_box_tag "category_help-hotlines", 'help-hotlines', false, :name => "category_slugs[]"
          %label
            = 'Help Hotlines'
        %li.hide.depth2
          = check_box_tag "category_home-visiting", 'home-visiting', false, :name => "category_slugs[]"
          %label
            = 'Home Visiting'
        %li.hide.depth2
          = check_box_tag "category_in-home-support-108-07-04", 'in-home-support-108-07-04', false, :name => "category_slugs[]"
          %label
            = 'In-Home Support'
        %li.hide.depth2
          = check_box_tag "category_mentoring", 'mentoring', false, :name => "category_slugs[]"
          %label
            = 'Mentoring'
        %li.hide.depth2
          = check_box_tag "category_one-on-one-support", 'one-on-one-support', false, :name => "category_slugs[]"
          %label
            = 'One-on-One Support'
        %li.hide.depth2
          = check_box_tag "category_peer-support", 'peer-support', false, :name => "category_slugs[]"
          %label
            = 'Peer Support'
        %li.hide.depth2
          = check_box_tag "category_spiritual-support", 'spiritual-support', false, :name => "category_slugs[]"
          %label
            = 'Spiritual Support'
        %li.hide.depth2
          = check_box_tag "category_support-groups", 'support-groups', false, :name => "category_slugs[]"
          %label
            = 'Support Groups'
          %ul
            %li.hide.depth3
              = check_box_tag "category_12-step-108-07-08-01", '12-step-108-07-08-01', false, :name => "category_slugs[]"
              %label
                = '12-Step'
            %li.hide.depth3
              = check_box_tag "category_bereavement-108-07-08-02", 'bereavement-108-07-08-02', false, :name => "category_slugs[]"
              %label
                = 'Bereavement'
            %li.hide.depth3
              = check_box_tag "category_parenting-education-108-07-08-03", 'parenting-education-108-07-08-03', false, :name => "category_slugs[]"
              %label
                = 'Parenting Education'
        %li.hide.depth2
          = check_box_tag "category_virtual-support", 'virtual-support', false, :name => "category_slugs[]"
          %label
            = 'Virtual Support'
%li.depth0
  = check_box_tag "category_education", 'education', false, :name => "category_slugs[]"
  %label
    = 'Education'
  %ul
    %li.hide.depth1
      = check_box_tag "category_help-find-school-109-01", 'help-find-school-109-01', false, :name => "category_slugs[]"
      %label
        = 'Help Find School'
    %li.hide.depth1
      = check_box_tag "category_help-pay-for-school-109-02", 'help-pay-for-school-109-02', false, :name => "category_slugs[]"
      %label
        = 'Help Pay for School'
      %ul
        %li.hide.depth2
          = check_box_tag "category_books-109-02-01", 'books-109-02-01', false, :name => "category_slugs[]"
          %label
            = 'Books'
        %li.hide.depth2
          = check_box_tag "category_cash-for-school-109-02-02", 'cash-for-school-109-02-02', false, :name => "category_slugs[]"
          %label
            = 'Cash for School'
        %li.hide.depth2
          = check_box_tag "category_clothes-for-school-109-02-03", 'clothes-for-school-109-02-03', false, :name => "category_slugs[]"
          %label
            = 'Clothes for School'
        %li.hide.depth2
          = check_box_tag "category_financial-aid-loans-109-02-04", 'financial-aid-loans-109-02-04', false, :name => "category_slugs[]"
          %label
            = 'Financial Aid & Loans'
        %li.hide.depth2
          = check_box_tag "category_transportation-for-school-109-02-05", 'transportation-for-school-109-02-05', false, :name => "category_slugs[]"
          %label
            = 'Transportation for School'
    %li.hide.depth1
      = check_box_tag "category_more-education", 'more-education', false, :name => "category_slugs[]"
      %label
        = 'More Education'
      %ul
        %li.hide.depth2
          = check_box_tag "category_alternative-education", 'alternative-education', false, :name => "category_slugs[]"
          %label
            = 'Alternative Education'
        %li.hide.depth2
          = check_box_tag "category_disaster-preparedness-response", 'disaster-preparedness-response', false, :name => "category_slugs[]"
          %label
            = 'Disaster Preparedness & Response'
        %li.hide.depth2
          = check_box_tag "category_english-as-a-second-language-esl", 'english-as-a-second-language-esl', false, :name => "category_slugs[]"
          %label
            = 'English as a Second Language (ESL)'
        %li.hide.depth2
          = check_box_tag "category_financial-education-109-03-04", 'financial-education-109-03-04', false, :name => "category_slugs[]"
          %label
            = 'Financial Education'
          %ul
            %li.hide.depth3
              = check_box_tag "category_credit-counseling-109-03-04-01", 'credit-counseling-109-03-04-01', false, :name => "category_slugs[]"
              %label
                = 'Credit Counseling'
            %li.hide.depth3
              = check_box_tag "category_foreclosure-counseling-109-03-04-02", 'foreclosure-counseling-109-03-04-02', false, :name => "category_slugs[]"
              %label
                = 'Foreclosure Counseling'
            %li.hide.depth3
              = check_box_tag "category_homebuyer-education-109-03-04-03", 'homebuyer-education-109-03-04-03', false, :name => "category_slugs[]"
              %label
                = 'Homebuyer Education'
        %li.hide.depth2
          = check_box_tag "category_foreign-languages", 'foreign-languages', false, :name => "category_slugs[]"
          %label
            = 'Foreign Languages'
        %li.hide.depth2
          = check_box_tag "category_ged-high-school-equivalency", 'ged-high-school-equivalency', false, :name => "category_slugs[]"
          %label
            = 'GED/High-School Equivalency'
        %li.hide.depth2
          = check_box_tag "category_health-education-109-03-07", 'health-education-109-03-07', false, :name => "category_slugs[]"
          %label
            = 'Health Education'
          %ul
            %li.hide.depth3
              = check_box_tag "category_disease-management-109-03-07-01", 'disease-management-109-03-07-01', false, :name => "category_slugs[]"
              %label
                = 'Disease Management'
            %li.hide.depth3
              = check_box_tag "category_family-planning-109-03-07-02", 'family-planning-109-03-07-02', false, :name => "category_slugs[]"
              %label
                = 'Family Planning'
            %li.hide.depth3
              = check_box_tag "category_nutrition-education", 'nutrition-education', false, :name => "category_slugs[]"
              %label
                = 'Nutrition Education'
            %li.hide.depth3
              = check_box_tag "category_parenting-education-109-03-07-04", 'parenting-education-109-03-07-04', false, :name => "category_slugs[]"
              %label
                = 'Parenting Education'
            %li.hide.depth3
              = check_box_tag "category_sex-education-109-03-07-05", 'sex-education-109-03-07-05', false, :name => "category_slugs[]"
              %label
                = 'Sex Education'
            %li.hide.depth3
              = check_box_tag "category_understand-disability-109-03-07-06", 'understand-disability-109-03-07-06', false, :name => "category_slugs[]"
              %label
                = 'Understand Disability'
            %li.hide.depth3
              = check_box_tag "category_understand-mental-health-109-03-07-07", 'understand-mental-health-109-03-07-07', false, :name => "category_slugs[]"
              %label
                = 'Understand Mental Health'
        %li.hide.depth2
          = check_box_tag "category_supported-employment", 'supported-employment', false, :name => "category_slugs[]"
          %label
            = 'Supported Employment'
        %li.hide.depth2
          = check_box_tag "category_special-education", 'special-education', false, :name => "category_slugs[]"
          %label
            = 'Special Education'
        %li.hide.depth2
          = check_box_tag "category_tutoring", 'tutoring', false, :name => "category_slugs[]"
          %label
            = 'Tutoring'
    %li.hide.depth1
      = check_box_tag "category_preschool-109-04", 'preschool-109-04', false, :name => "category_slugs[]"
      %label
        = 'Preschool'
    %li.hide.depth1
      = check_box_tag "category_screening-exams", 'screening-exams', false, :name => "category_slugs[]"
      %label
        = 'Screening & Exams'
      %ul
        %li.hide.depth2
          = check_box_tag "category_citizenship-immigration", 'citizenship-immigration', false, :name => "category_slugs[]"
          %label
            = 'Citizenship & Immigration'
        %li.hide.depth2
          = check_box_tag "category_ged-high-school", 'ged-high-school', false, :name => "category_slugs[]"
          %label
            = 'GED/High-School'
        %li.hide.depth2
          = check_box_tag "category_english-as-a-second-language-esl-109-05-03", 'english-as-a-second-language-esl-109-05-03', false, :name => "category_slugs[]"
          %label
            = 'English as a Second Language (ESL)'
    %li.hide.depth1
      = check_box_tag "category_skills-training", 'skills-training', false, :name => "category_slugs[]"
      %label
        = 'Skills & Training'
      %ul
        %li.hide.depth2
          = check_box_tag "category_basic-literacy", 'basic-literacy', false, :name => "category_slugs[]"
          %label
            = 'Basic Literacy'
        %li.hide.depth2
          = check_box_tag "category_computer-class", 'computer-class', false, :name => "category_slugs[]"
          %label
            = 'Computer Class'
        %li.hide.depth2
          = check_box_tag "category_daily-life-skills-109-06-03", 'daily-life-skills-109-06-03', false, :name => "category_slugs[]"
          %label
            = 'Daily Life Skills'
        %li.hide.depth2
          = check_box_tag "category_interview-training", 'interview-training', false, :name => "category_slugs[]"
          %label
            = 'Interview Training'
        %li.hide.depth2
          = check_box_tag "category_resume-development", 'resume-development', false, :name => "category_slugs[]"
          %label
            = 'Resume Development'
        %li.hide.depth2
          = check_box_tag "category_skills-assessment", 'skills-assessment', false, :name => "category_slugs[]"
          %label
            = 'Skills Assessment'
        %li.hide.depth2
          = check_box_tag "category_specialized-training", 'specialized-training', false, :name => "category_slugs[]"
          %label
            = 'Specialized Training'
    %li.hide.depth1
      = check_box_tag "category_technology-109-07", 'technology-109-07', false, :name => "category_slugs[]"
      %label
        = 'Technology'
      %ul
        %li.hide.depth2
          = check_box_tag "category_assistive-technology-109-07-01", 'assistive-technology-109-07-01', false, :name => "category_slugs[]"
          %label
            = 'Assistive Technology'
        %li.hide.depth2
          = check_box_tag "category_internet-109-07-02", 'internet-109-07-02', false, :name => "category_slugs[]"
          %label
            = 'Internet'
        %li.hide.depth2
          = check_box_tag "category_medical-supplies-109-07-03", 'medical-supplies-109-07-03', false, :name => "category_slugs[]"
          %label
            = 'Medical Supplies'
        %li.hide.depth2
          = check_box_tag "category_phone-services-109-07-04", 'phone-services-109-07-04', false, :name => "category_slugs[]"
          %label
            = 'Phone Services'
%li.depth0
  = check_box_tag "category_work", 'work', false, :name => "category_slugs[]"
  %label
    = 'Work'
  %ul
    %li.hide.depth1
      = check_box_tag "category_help-find-work-110-01", 'help-find-work-110-01', false, :name => "category_slugs[]"
      %label
        = 'Help Find Work'
      %ul
        %li.hide.depth2
          = check_box_tag "category_job-placement", 'job-placement', false, :name => "category_slugs[]"
          %label
            = 'Job Placement'
        %li.hide.depth2
          = check_box_tag "category_supported-employment-110-01-02", 'supported-employment-110-01-02', false, :name => "category_slugs[]"
          %label
            = 'Supported Employment'
    %li.hide.depth1
      = check_box_tag "category_help-pay-for-work-expenses-110-02", 'help-pay-for-work-expenses-110-02', false, :name => "category_slugs[]"
      %label
        = 'Help Pay for Work Expenses'
      %ul
        %li.hide.depth2
          = check_box_tag "category_clothes-for-work-110-02-01", 'clothes-for-work-110-02-01', false, :name => "category_slugs[]"
          %label
            = 'Clothes for Work'
        %li.hide.depth2
          = check_box_tag "category_retirement-benefits-110-02-02", 'retirement-benefits-110-02-02', false, :name => "category_slugs[]"
          %label
            = 'Retirement Benefits'
        %li.hide.depth2
          = check_box_tag "category_supplies-for-work-110-02-03", 'supplies-for-work-110-02-03', false, :name => "category_slugs[]"
          %label
            = 'Supplies for Work'
        %li.hide.depth2
          = check_box_tag "category_unemployment-benefits-110-02-04", 'unemployment-benefits-110-02-04', false, :name => "category_slugs[]"
          %label
            = 'Unemployment Benefits'
    %li.hide.depth1
      = check_box_tag "category_skills-training-110-03", 'skills-training-110-03', false, :name => "category_slugs[]"
      %label
        = 'Skills & Training'
      %ul
        %li.hide.depth2
          = check_box_tag "category_basic-literacy-110-03-01", 'basic-literacy-110-03-01', false, :name => "category_slugs[]"
          %label
            = 'Basic Literacy'
        %li.hide.depth2
          = check_box_tag "category_computer-class-110-03-02", 'computer-class-110-03-02', false, :name => "category_slugs[]"
          %label
            = 'Computer Class'
        %li.hide.depth2
          = check_box_tag "category_ged-high-school-equivalency-110-03-03", 'ged-high-school-equivalency-110-03-03', false, :name => "category_slugs[]"
          %label
            = 'GED/High-School Equivalency'
        %li.hide.depth2
          = check_box_tag "category_interview-training-110-03-04", 'interview-training-110-03-04', false, :name => "category_slugs[]"
          %label
            = 'Interview Training'
        %li.hide.depth2
          = check_box_tag "category_resume-development-110-03-05", 'resume-development-110-03-05', false, :name => "category_slugs[]"
          %label
            = 'Resume Development'
        %li.hide.depth2
          = check_box_tag "category_skills-assessment-110-03-06", 'skills-assessment-110-03-06', false, :name => "category_slugs[]"
          %label
            = 'Skills Assessment'
        %li.hide.depth2
          = check_box_tag "category_specialized-training-110-03-07", 'specialized-training-110-03-07', false, :name => "category_slugs[]"
          %label
            = 'Specialized Training'
    %li.hide.depth1
      = check_box_tag "category_supported-employment-110-04", 'supported-employment-110-04', false, :name => "category_slugs[]"
      %label
        = 'Supported Employment'
    %li.hide.depth1
      = check_box_tag "category_workplace-rights", 'workplace-rights', false, :name => "category_slugs[]"
      %label
        = 'Workplace Rights'
%li.depth0
  = check_box_tag "category_legal", 'legal', false, :name => "category_slugs[]"
  %label
    = 'Legal'
  %ul
    %li.hide.depth1
      = check_box_tag "category_advocacy-legal-aid", 'advocacy-legal-aid', false, :name => "category_slugs[]"
      %label
        = 'Advocacy & Legal Aid'
      %ul
        %li.hide.depth2
          = check_box_tag "category_adoption-foster-care-111-01-01", 'adoption-foster-care-111-01-01', false, :name => "category_slugs[]"
          %label
            = 'Adoption & Foster Care'
          %ul
            %li.hide.depth3
              = check_box_tag "category_adoption-foster-placement-111-01-01-01", 'adoption-foster-placement-111-01-01-01', false, :name => "category_slugs[]"
              %label
                = 'Adoption & Foster Placement'
            %li.hide.depth3
              = check_box_tag "category_adoption-foster-parenting-111-01-01-02", 'adoption-foster-parenting-111-01-01-02', false, :name => "category_slugs[]"
              %label
                = 'Adoption & Foster Parenting'
            %li.hide.depth3
              = check_box_tag "category_adoption-planning-111-01-01-03", 'adoption-planning-111-01-01-03', false, :name => "category_slugs[]"
              %label
                = 'Adoption Planning'
            %li.hide.depth3
              = check_box_tag "category_post-adoption-support-111-01-01-04", 'post-adoption-support-111-01-01-04', false, :name => "category_slugs[]"
              %label
                = 'Post-Adoption Support'
        %li.hide.depth2
          = check_box_tag "category_citizenship-immigration-111-01-02", 'citizenship-immigration-111-01-02', false, :name => "category_slugs[]"
          %label
            = 'Citizenship & Immigration'
        %li.hide.depth2
          = check_box_tag "category_discrimination-civil-rights", 'discrimination-civil-rights', false, :name => "category_slugs[]"
          %label
            = 'Discrimination & Civil Rights'
        %li.hide.depth2
          = check_box_tag "category_guardianship", 'guardianship', false, :name => "category_slugs[]"
          %label
            = 'Guardianship'
        %li.hide.depth2
          = check_box_tag "category_identification-recovery", 'identification-recovery', false, :name => "category_slugs[]"
          %label
            = 'Identification Recovery'
        %li.hide.depth2
          = check_box_tag "category_understand-government-programs-111-01-06", 'understand-government-programs-111-01-06', false, :name => "category_slugs[]"
          %label
            = 'Understand Government Programs'
        %li.hide.depth2
          = check_box_tag "category_workplace-rights-111-01-07", 'workplace-rights-111-01-07', false, :name => "category_slugs[]"
          %label
            = 'Workplace Rights'
    %li.hide.depth1
      = check_box_tag "category_mediation", 'mediation', false, :name => "category_slugs[]"
      %label
        = 'Mediation'
    %li.hide.depth1
      = check_box_tag "category_notary", 'notary', false, :name => "category_slugs[]"
      %label
        = 'Notary'
    %li.hide.depth1
      = check_box_tag "category_representation", 'representation', false, :name => "category_slugs[]"
      %label
        = 'Representation'
    %li.hide.depth1
      = check_box_tag "category_translation-interpretation", 'translation-interpretation', false, :name => "category_slugs[]"
      %label
        = 'Translation & Interpretation'