%div.inst-box
  %header
    %strong
      Mailing Address
  %p
    = "Attention"
    = text_field_tag "attention", "", maxlength: 100, :class => "span4"
    %br
    = "Street"
    = text_field_tag "m_street", "", maxlength: 100, class: "span4"
    %br
    = "City"
    = text_field_tag "m_city", "", maxlength: 25
    %br
    = "State (2-letter abbreviation)"
    = text_field_tag "m_state", "", maxlength: 2
    %br
    = "ZIP Code"
    = text_field_tag "m_zip", "", maxlength: 10
    %br